In [1]:
# Answers:
    
# Info about missing values:
# https://pandas.pydata.org/pandas-docs/stable/missing_data.html
# For the measurement dataset:
# please note: I'm not removing NaN from rows in prcp because:
#              1) When adding NaN, it's treated as zero.
#              2) No issues when I tried to find minimium of a column with NaN.
#              3) In the same row, there is still a temperature value.
#              4) A precipitation of NaN just means they didn't measure the precipitation.
#              5) NA groups in GroupBy are automatically excluded
# Assumption: treat no precipitation measurement (NaN) as zero if it errors out.
# Do not need to save file with clean in the front because it's already cleaned.

In [2]:
import pandas as pd

#Get measurement and station data
df_meas = pd.read_csv("Resources/hawaii_measurements.csv")
df_station = pd.read_csv("Resources/hawaii_stations.csv")

In [3]:
df_meas.head()
#prcp is precipitation
#tobs is temperature observed.
#max of prcp: 11.53, min of prcp: 0; value: NaN
#max of tobs: 87, min of tobs: 53; 
#Shape of df_meas: 19550,4

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Find the data length for data_engineering part of the homework
df_meas["station"].str.len().max() #11
df_station["station"].str.len().max() #11
df_station["name"].str.len().max() #38

38

In [5]:
df_meas.sort_values(['date'])
df_meas.loc[df_meas['prcp']>11]

          station        date   prcp  tobs
6700  USC00514830  2014-07-20  11.53    76

In [6]:
# rows=df_meas.loc[df_meas["prcp"] == NaN,:]
rows=df_meas[df_meas["prcp"].isnull()]
df_meas.count()
num_none=19550-18103 #1447
print(num_none)
display(rows.head())
# Info about missing values:
# https://pandas.pydata.org/pandas-docs/stable/missing_data.html
# please note: I'm not removing NaN from rows in prcp because:
#              1) When adding NaN, it's treated as zero.
#              2) No issues when I tried to find minimium of a column with NaN.
#              3) In the same row, there is still a temperature value.
#              4) A precipitation of NaN just means they didn't measure the precipitation.
#              5) NA groups in GroupBy are automatically excluded
# Assumption: treat no precipitation measurement (NaN) as zero if it errors out.

1447

        station        date  prcp  tobs
4   USC00519397  2010-01-06   NaN    73
26  USC00519397  2010-01-30   NaN    70
29  USC00519397  2010-02-03   NaN    67
43  USC00519397  2010-02-19   NaN    63
61  USC00519397  2010-03-11   NaN    73

In [7]:
rows=df_meas[df_meas["tobs"].isna()] # no nulls

In [8]:
# check to see if there are more than 1 measurement per date.
(df_meas.duplicated('date') ==True).any()
#yes there are!

True

In [9]:
# let's look at one date
df_meas.loc[df_meas['date']=='2010-01-06']
# For example, on the same date (2010-01-06), there are 6 measurements. 
# They are measurements for different stations.

           station        date  prcp  tobs
4      USC00519397  2010-01-06   NaN    73
2729   USC00513117  2010-01-06  0.02    76
9523   USC00519523  2010-01-06  0.11    72
12192  USC00519281  2010-01-06  0.01    76
14964  USC00511918  2010-01-06  0.08    72
16943  USC00516128  2010-01-06  0.36    71

In [12]:
df_station

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [11]:
# Check to see if station data has na.
rows=df_station[df_station["name"].isna()] # nope
rows=df_station[df_station["latitude"].isna()] #nope
rows=df_station[df_station["longitude"].isna()] #nope
rows=df_station[df_station["elevation"].isna()] #nope

In [17]:
# check to see if there are repeated stations
(df_station.duplicated('station') ==True).any()
# none of the rows are duplicate.

False